<div class="flex">
    <div class="left-half bg-cover bg-center h-screen w-1/2"
        style="background-image: url('https://img.freepik.com/free-photo/rebel-youth-spray-chaos-onto-weathered-walls-generated-by-ai_188544-15063.jpg?t=st=1690684854~exp=1690688454~hmac=ab2b015e0b51a422242b35842be3efb0fc2559066c5f565644324054ccca41bc&w=2000');">
    </div>
    <div class="max-w-md mx-auto bg-white border rounded-lg shadow p-6 w-1/2">
        <form action="/dashboard" method="GET" class="flex flex-col space-y-4">

            <h2 class="text-xs font-bold">TechBytes: Your go-to source for the latest tech news and cutting-edge
                innovations. Join our tech-savvy community and dive into the future!</h2>




            <!-- User Articles -->
            <div class="">
                <label for="title" class="font-semibold">Global Bytes</label>
                <section class="w-full p-2 border rounded">
                    <ul>

                    </ul>
                </section>
            </div>