<form id="register-form" class="register" action="/register" method="POST">
  <input class="input input-email my-2 px-4" name="email" type="email" placeholder="Email">
  <input class="input input-username my-2 px-4"  name="username" type="text" placeholder="Username">
  <input class="input my-2 px-4" name="password" type="password" placeholder="Password">
  <input class="input my-2 px-4" name="verifyPassword" type="password" placeholder="Confirm Your Password">
  <button class="my-3 hover:bg-teal-600 rounded-full border-solid border-2 border-white py-4 px-8 text-white font-bold text-sm">Sign up</button>
</form>

<div id="error-message-container"></div>

<script src="/js/error.js"></script>