<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>techBytes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>



<header class="bg-graffiti"></header>
    
<body>
    <div class="bg-white">
        <header class="header">techBytes
            
            <nav>
                <a href="/" class="{{#if isHome}}{{/if}}">Home</a>
                {{#if email}}
                <a href="/logout">Log Out</a>
                {{else}}
                {{#if isLoggedIn}}
                <a href="/dashboard" class="{{#if isHome}}hidden{{/if}}">Dashboard</a>
                {{else}}
                <a href="/login" class="{{#if isLogin}}{{/if}}">Login</a>
                <a href="/Register" class="{{#if isLogin}}{{/if}}">Register</a>
                {{/if}}
                {{/if}}
                <p class="{{#if isHome}}{{/if}}{{#if isLogin}} {{/if}}{{#if isRegister}} {{/if}}">Welcome, {{username}}</p>
            </nav>
        </header>
        {{{body}}}
    </div>
    <footer>
    </footer>
</body>
</html>
